header, section, footer, aside, nav, main, article, figure {
    display: block;
}

h1 {
    text-align: center;
    font-family: Arial, "Arial Black";
}

h2 {
    text-align: center;
    font-family: Arial, "Arial Black";
}

a {
    padding: 10px;
    font-family: Arial, "Arial Black";
}

.main {
    font-family: Arial, "Arial Black";
    font-size: 1.2em;
}

#links {
    position: absolute;
    right: 0px;
    top: 20px;
    padding-right: 10px;
}

#header {
    background-color: cyan;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}

#registration {
    margin: auto;
    width: 15%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formspace {
    padding-top: 10px;
    padding-bottom: 10px;
}